.large {
	font-size: 1.5em;
	font-weight: bold;
}

.level {
	background-color: white !important;
}

.stunnel-response {
	display: inline-block;
	position: relative;
	padding: 6px 10px;
	color: gray;
}

.section.is-small {
	padding: 1em;
}

/* ======================= */
/* IMAGE CONTAINER LIMITED */
/* ======================= */

.image-container-limited {
	max-width: 240px;
	width: 100%;
	position: relative;
}

.image-container-limited.expanded {
	max-width: 100%;
}

/* ======= */
/* HELPERS */
/* ======= */

.vcenter {
	vertical-align: middle;
}

.d-flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.ml-0 { margin-left: 0em; }
.ml-1 { margin-left: 1em; }
.ml-2 { margin-left: 2em; }
.ml-3 { margin-left: 3em; }
.ml-4 { margin-left: 4em; }
.ml-5 { margin-left: 5em; }

.mr-0 { margin-right: 0em; }
.mr-1 { margin-right: 1em; }
.mr-2 { margin-right: 2em; }
.mr-3 { margin-right: 3em; }
.mr-4 { margin-right: 4em; }
.mr-5 { margin-right: 5em; }

.mb-0 { margin-bottom: 0em; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }
.mb-3 { margin-bottom: 3em; }
.mb-4 { margin-bottom: 4em; }
.mb-5 { margin-bottom: 5em; }

.mt-0 { margin-top: 0em; }
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mt-3 { margin-top: 3em; }
.mt-4 { margin-top: 4em; }
.mt-5 { margin-top: 5em; }

.mx-0 { margin-left: 0em; margin-right: 0em;}
.mx-1 { margin-left: 1em; margin-right: 1em;}
.mx-2 { margin-left: 2em; margin-right: 2em;}
.mx-3 { margin-left: 3em; margin-right: 3em;}
.mx-4 { margin-left: 4em; margin-right: 4em;}
.mx-5 { margin-left: 5em; margin-right: 5em;}

.my-0 { margin-top: 0em; margin-bottom: 0em;}
.my-1 { margin-top: 1em; margin-bottom: 1em;}
.my-2 { margin-top: 2em; margin-bottom: 2em;}
.my-3 { margin-top: 3em; margin-bottom: 3em;}
.my-4 { margin-top: 4em; margin-bottom: 4em;}
.my-5 { margin-top: 5em; margin-bottom: 5em;}


/* ====== */
/* SWITCH */
/* ====== */

.switch {
	display: inline-flex;
	flex-direction: row;
	border-radius: 5px;
	overflow: hidden;
}
.switch span {
	display: inline-block;
	padding: 10px 14px;
	border: 1px solid lightgray;
}
.switch span:last-child{
	border-left: 0px;
}
.switch.left span:first-child {
	background-color: hsl(141, 71%, 48%);
	color: white;
}
.switch.right span:last-child {
	background-color: hsl(348, 100%, 61%);
	color: white;
}
