doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Controller
		link( rel="stylesheet" type="text/css" href="normalize.css" )
		link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic")
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
		link( rel="stylesheet" type="text/css" href="styles2.css" )
	body
		.level.box
			p.level-item.has-text-centered
				a.navbar-item(href="/") Guide
			p.level-item.has-text-centered
				a.navbar-item.large Controller
			p.level-item.has-text-centered
				a.navbar-item(href="/settings") Settings
		section.section.content
			.container
				.columns.is-multiline
					.column.is-half
						.card
							header.card-header
								p.card-header-title Links to check
							.card-content
								ol
									li: a(href="https://www.facebook.com/lifeofvictory/" target="_blank") Facebook
									li: a(href="https://www.youtube.com/live_dashboard?spfreload=10&nv=1" target="_blank") YouTube
					.column.is-half
						.card
							header.card-header
								p.card-header-title Restart stunnel (secure tunnel)
							.card-content
								button.button.stunnel-reload Restart
								span.stunnel-response
					.column.is-full
						.card
							header.card-header
								p.card-header-title Server switch
									span.is-text-gray (NGINX switch)
							.card-content
								- var className = "switch "+( nginxState ? "left" : "right" )
								div( class=className )
									span ON
									span OFF
		script( src="js/controller.js" )
