mixin dropdown(text, src)
	div.dropdown.ml-1
		div.dropdown-trigger
			button.button.is-small(aria-haspopup="true" aria-controls="dropdown-menu1")
				span= text
				span.icon.is-small
					i.fa.fa-chevron-down(aria-hidden="true")
		div(role="menu").dropdown-menu
			div.dropdown-content
				div.dropdown-item
					img(src=src)

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Streaming Server Controller
		link( rel="stylesheet" type="text/css" href="normalize.css" )
		link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic")
		link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" )
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css")
		link( rel="stylesheet" type="text/css" href="styles2.css")
	body
		.level.box
			p.level-item.has-text-centered
				a.navbar-item(href="/controller") Controller
			p.level-item.has-text-centered
				a.navbar-item.large Streaming Server Controller
			p.level-item.has-text-centered
				a.navbar-item(href="/settings") Settings
		section.section
			.container
				h1.title Guide	
				h2.subtitle A short explanation as to how to start the stream
				.content
					ol
						li
							div.d-flex.align-items-center
								span Open OBS
								+dropdown("Image", "img/obs-image.png")
												// img(src="obs-image.png")
							small: div (black round icon, with white outline)
						li 
							div.d-flex.align-items-center
								span Click "Start Streaming"
								+dropdown("Image", "img/obs-button.png")
							small: div This 
								b starts streaming on YouTube 
								|automatically. 
						li 
							| On the page 
							a(href="/controller") Controller
							|  click on "Facebook" link
						li 
							div.d-flex.align-items-center
								span Click "Live". 
								+dropdown("Image", "img/live-button.png")

						li 
							div.d-flex.align-items-center
								span Then "Connect". 
								+dropdown("Image", "img/connect-button.png")
						li 
							div.d-flex.align-items-center
								span After you see the video loading, click "Go Live"
								+dropdown("Image", "img/go-button.png")
							small: div (the stream on YouTube is published automatically)
				p If on any of these steps you encounter an error or unexpected behavior, see Troubleshooting section of this page.
		section.section
			.container
				h1.title Troubleshooting
				h2.subtitle If any of the steps above do not work as expected
				.content
					.section.is-small
						h5.title.is-5 Streaming diagram.
						p: button.button.expand-toggle(data-target="image-container") Expand/collapse
						div.image-container-limited#image-container
							img(src="img/diagram.png")
					.section.is-small
						h5.title.is-5 If you see "Could not connect to the server" message
						ol(type="I") 
							li On this page click 
								a(href="/controller") Controller										
							li Check if the NGINX server is On
							li If not, Click on On. And try starting the stream again in a few seconds
					.section.is-small
						h5.title.is-5 If "BlackMagic Device" is showing black, or not showing anything
						ol(type="I")
							li Under the Screen by the MacMini there is a BlackMagic recorder device
							li Unplug it from both cables, wait 10 seconds, and plug it back in
							li Try reloading OBS
							li If it doesn't work anyways, nobody is to blame. The recorder is not working. No stream today.
					.section.is-small
						h5.title.is-5 If you don't see any stream/black window showing up and Go Live button is grayed over
						ol(type="I")
							li On the 
								a(href="/controller") Controller 
								| click Restart stunnel.
							li If that doens't work, then something is completely off. Get Daniel here.

				p If you see an error that doesn't match any of the described errors, call Daniel.

		script(src="js/main.js")
