doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Settings
		link( rel="stylesheet" type="text/css" href="normalize.css" )
		link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic")
		link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" integrity="sha256-ujE/ZUB6CMZmyJSgQjXGCF4sRRneOimQplBVLu8OU5w=" crossorigin="anonymous")
		link( rel="stylesheet" type="text/css" href="styles2.css" )
	body
		.level.box
			p.level-item.has-text-centered
				a.navbar-item(href="/") Guide
			p.level-item.has-text-centered
				a.navbar-item.large Settings
			p.level-item.has-text-centered
				a.navbar-item(href="/controller") Controller
		section.section
			.container
				span.response
				h1.title Streaming URLs and Keys
				h2.subtitle Never publish the screenshot of this page on the Internet
				form( action="/api/changeKeys" method="POST")
					each val in ytlink
						.box
							.field.columns.is-vcentered
									label.label.column.is-one-fifth(for="name-for-"+val.id) Name:
									.control.column
										input.input(type="text" id="name-for-"+val.id name="name-for-"+val.id value=val.name)
							.field.columns.is-vcentered
									label.label.column.is-one-fifth( for="url-for-"+val.id ) Url:
									.control.column
										input.input( name="url-for-"+val.id id="url-for-"+val.id type="text" value=val.url )
							.field.columns.is-vcentered
								label.label.column.is-one-fifth( for="key-for-"+val.id ) Key:
								.control.column
									input.input( name="key-for-"+val.id id="key-for-"+val.id type="text" value=val.key )
					button.button.is-link( type="submit" ) Submit
		script(src="js/settings.js")
